<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% block title %}<title>Pet Service</title>{% endblock %}
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <div class="bg-image" style="background-image: url('{% static 'assets/img/scott-webb-OxHPDs4WV8Y-unsplash.jpg' %}');
        height: 100vh;
        background-attachment: fixed;">
            <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
                <!-- Navbar Brand-->
                <a class="navbar-brand ps-3" href="{% url 'pet_app:index' %}">Pet Service</a>
                <!-- Navbar Search-->
                <div class="d-md-inline-block ms-auto">
                  <ul class="navbar-nav d-flex flex-row me-1">
                    <li class="nav-item me-3 me-lg-3">
                        <a class="nav-link text-grey" href="https://github.com/N1khto/pet-owner-service" target=”_blank”><i class="fab fa-2x fa-github"></i></a>
                    </li>
                    <li class="nav-item me-3 me-lg-3">
                        <a class="nav-link" href="https://mate.academy/" target=”_blank”>
                            <img width="35" height="35" src="{% static 'assets/img/Ma_icon_black.png' %}" alt="">
                        </a>
                    </li>
                  </ul>
                </div>
            </nav>
            <div id="layoutSidenav">
                {% block sidebar %}
                    {% include "includes/sidebar.html" %}
                {% endblock %}
                <div id="layoutSidenav_content">
                    <div style=" padding: 30px;">
                        {% block content %}{% endblock %}

                        {% block pagination %}
                            {% include "includes/pagination.html" %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
